/www/application/config/credentials.php
/www/application/config/database-prod.php
/www/application/config/database.php
/www/application/logs/*.php
Thumbs.db
/www/application/logs/*.gz
/www/application/cache/*
/www/application/config/credentials-prod.php
/www/bukitjarian/log/error.log
